<!DOCTYPE html>
        {% extends 'missan_app/base.html' %}
        {% load static %}
        {% block body_block %}
        <br>
        <div class="container">
          <form>
            <div class="row">
              <div class="input-group">
              <!-- <div class="col"> -->
                <input type="text" name="iqama_number" class="form-control" placeholder="رقم الاقامة">
              <!-- </div> -->
              <!-- <div class="col"> -->
                <input type="text" name="first_name" class="form-control" placeholder="الاسم الاول">
              <!-- </div> -->
              <!-- <div class="col"> -->
                <input type="text" name="last_name" class="form-control" placeholder="الاسم الاخير">
              <!-- </div> -->
              <!-- <div class="col"> -->
                <button  type="submit" class="btn  btn-primary btn-sm" >بحث</button>
              <!-- </div> -->
            </div>
            </div>
          </form>
        </div>
        <br>
            <div class="container">
              <div class="jumbotron">
                <form action="{% url 'missan_app:add_driver' %}" method="post">


                </form>
              </div>
            </div>
        {% endblock %}
